.navList {
  display: flex;
  gap: 10px;
  align-items: center;
}
.linkNav {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-decoration: none;
  /* color: gray; */
 
}
